.headTitle {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headBox {
  width: 100%;
  max-width: 500;
  color: #534714;
  text-align: center;
}
